.vehiclePostDetail{
width="10%";
 cellspacing="0" ;
 cellpadding="2" ;
 border="0" ;
 style="border-collapse:collapse;
 left:60%;
}
* {
    outline: none !important;
}

body {
    margin: 0;
    padding: 2em;
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    background: white;
    color: #333;
    overflow:hidden;
}

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

h1 {
	font-size:1.5em;
}

.vehiclePost-list-ctr {
	width:100%;
}
/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    overflow:hidden;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
	width: 550px;
	height: 550px;
}

.leftCol {
	width:70%;
}

#gc-pagecontent h1 {
	border-top : 0px;
	background-color:none;
	background:none;
	text-align: Center;
	text-decoration: underline;
	margin: 0em 0 0 0px;
	padding:0px 0px;
	border-top: 0px solid;
}
#gc-pagecontent h2 {
	border-top : 0px;
	background-color:none;
	background:none;
	text-align: Center;
	text-decoration: underline;
	margin: 0em 0 0 0px;
	padding:0px 0px;
	border-top: 0px solid;
}
#gc-pagecontent {
padding-left: 24px;
border-left: 0px solid 
#E5ECF9;
}
.delete-entity {
	color:blue;
	text-decoration:underline;
}

#error-show-message {
	color: red;
	text-align: Center;
	font-size:1.5em;
}

#link {
	color:bule;
}

.formQuestion {
	background-color:#d0e3f5;
	padding:0.3em;
	font-weight:900;
	font-family:Verdana, Arial, sans-serif;
	font-size:0.8em;
	color:#5a5a5a;
}
.formAnswer {
	background-color:#f5eede;
	padding:0.3em;
	margin-bottom:1em;
}
.firstLabel {
	display: inline-block;
	display: -moz-inline-box;
	width: 15em;
	min-width: 10em;
}
.secondLabel {
	width: auto;
	margin-left: 5em;
	margin-right: 1em;
}
body .short {
	width: 2em;
}
body .medium {
	width: 12em;
}
body .long {
	width: 20em;
}

#loader {
padding: 0;
margin: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: 
#EFEFEF;
opacity: 0.98;
z-index: 999;
vertical-align: middle;
}
#loaderInner {
position: absolute;
top: 50%;
left: 50%;
width: 32px;
height: 32px;
margin-top: -16px;
margin-left: -16px;
background-image: url('images/loader_lg.gif');
background-repeat: no-repeat;
}