@charset "utf-8";
 @font-face {
	font-family: 'Century';
	src: url('fonts/century.ttf');
	src:url('fonts/Bell MT.ttf');
	 }

 body{ background-color:#dfdfde;
 margin:0px;
 padding:0px;
 font-family:Arial;
 }
 

 

#wrapper {
	width: 100%;
}

#main_wrapper{width:945px;
margin:0px auto 0px auto;
}

#navigation{width:100%;
background-image:url(images/back_navi.jpg);
overflow:hidden; 
}

#main_navigation{width:945px; 
margin:0px auto 0px auto;}
 
 #navi_left{width:auto; float:left; }

#main_navigation #navi_left ul{
	width:auto;
	float:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	}

#main_navigation #navi_left ul li{
	width:auto; 
	float:left;
	margin:0px;
	padding:0px;
   /*padding:18px 10px 18px 10px;*/
   padding:0px
	display:block;
	background-image:url(images/navi_colam.jpg);
	background-repeat:no-repeat;
	background-position:right;
	list-style:none;
	}


 #main_navigation #navi_left ul li a:hover{

background-image:url(images/hover_img.png);
color:#fffdfd;
} 


#main_navigation #navi_left ul li a{ 
text-decoration:none;
display:block;
text-align:center;
 
color:#c0bfbf;
padding:16px 7px 19px 7px;
margin:0px 2px 0px 0px;
/*text-align:center;*/
}








#navi_right{width:auto;
}
  
  #navi_right p{  color:#c0bfbf;
 font-size:14px;
 float:right;
 margin:19px 0px 0px 0px;
 }
 
 #navi_right p a{color:#c0bfbf;
 text-decoration:none;
}
 
 #header{width:auto; 
 /*float:left;*/
 }
 
 #hed_left{width:auto; 
 float:left;}
 
#header #hed_left .l_text{ width:auto; 
font-family:Century !important;
font-size:30px;
margin:78px 0px 0px 0px;
font-weight:regular;
float:left;
}

.logo {width:109px; 
height:95px;
background-image:url(images/all_images.png);
background-position:-17px -13px;
background-repeat:no-repeat;
margin:24px 0px 0px 0px;
float:left; 
}
 
 #hed_right{width:238;
 margin:0px 0px 0px 0px; 
 float:right;}
 
 .links{width:auto; 
 float:left;}
 
 #header #hed_right .links ul{width:auto;
 margin:0px 0px 0px 15px;
 padding:0px 0px 0px 0px;
 list-style:none;
 float:left;
 }
 
 #header #hed_right .links ul li{width:auto;
 margin:22px 0px 0px 5px !important;
 padding:0px 0px 0px 0px;
 list-style:none;
 float:left;
 border:none !important;
 }
 
 /*img{ border:none;}
*/ 
  #header #hed_right .links ul li a{
	  width:auto;
    /* border:none !important;*/
	 
	 }
	 
	  #header #hed_right .links ul li a img{ border:none;}
 
 
 
 
 #header .search_box{ width:218px;
 height:39px;
 background-image: url(images/all_images.png);
 background-position:-16px -138px;
 background-repeat:no-repeat;
 margin:10px 0px 0px 22px;
 float:left;
 clear:both;
 }
 
 .search_box #search_left{ width:auto; 
 float:left;}
 
 .search_box #search_left #edit-search-theme-form{ background-color:transparent;
 border:none;
 margin:10px 0px 0px 8px;
 font-weight:regular;
 font-size:12px;
 color:#474747;
 font-family:Arial, Helvetica, sans-serif;
 }
 
   #header .search_box #search_right{width:20px; 
   float:right;
   margin-left:10px;
   }
 
  #header .search_box #search_right img{width:auto;
  /*float:right;*/
  margin:6px 0px 0px -22px;
  border:none;
  text-align:center;
}
  
  #header .search_box #search_right img a{width:auto;
  float:left;
  margin:6px 0px 0px 13px;
  border:none;
  }
  
  #banner{width:945px; 
  float:left;
  background-image:url(images/banner_back.png);
  clear:both;
  margin:47px 0px 0px 0px;
  border:1px solid #040404;
  box-shadow: 0px 0px 10px #888;
  position:relative;
  text-align:center;
  padding:5px 0px 10px 0px;
  }
  
  #banner .left_aro{ width:75px;
  height:74px;
  background-image:url(images/all_images.png);
  background-position:-147px -25px;
  background-repeat:no-repeat;
  margin:150px 0px 0px 21px;
  position:absolute;
  left:0;
  }
  
  .middle{width:945px;
  }
  
   #banner .middle img{ width:auto;
   
	margin:5px auto 5px auto;
	/*margin:5px auto 5px auto;*/
	}
   
  #banner .right_aro{ width:75px;
  right:0;
  position:absolute;
  height:74px;
  background-image:url(images/all_images.png);
  background-position:-226px -25px;
  background-repeat:no-repeat;
  margin:150px 22px 8px -9px; 
  }
  
 #main_wrapper #content{width:auto; 
  float:left;
  margin-bottom:25px;
  }
  
#con_left{width:auto; 
float:left;}
  
#content #con_left img{width:auto;
 margin:77px 0px 0px 0px !important;}
 
#content #con_right{width:445px;
margin-top:25px; 
 float:left;}
 
  #content #con_right .re_d_text {width:auto;
		color:#da251e;
		font-size:20px;
		font-family:Century;
		margin:42px 0px 0px 20px;
		/*line-height:110px;*/
		}
		
  #content #con_right #link_rect{width:auto;
  background-image:url(images/white_back.png);
  margin:10px 0px 0px 0px; 
		float:left;}
		
 #content #con_right #link_rect ul{ width:auto;
 margin:30px 0px 77px 0px;
 padding:0px; 
 }	
 
  #content #con_right #link_rect ul li{width:auto;
  font-family:Arial, Helvetica, sans-serif;
  background-image:url(images/round_img.png);
  background-repeat:no-repeat;
background-position:left;
margin:0px 0px 0px 18px;
  padding:0px 0px 0px 27px;
  font-weight:regular;
  line-height:25px;
  font-size:12px;
  color:#2f2f2f;
  font-weight:normal;
  list-style:none;
  }	
  
  
 
  
  #box_text{width:auto;
  margin:10px 0px 0px 17px;
   float:left;}
  
  
  #box_text .p_text{ float:left;
  width:407px;
  font-size:12px;
	  color:#2d2d2d;
	  font-weight:regular;
	  margin:0px 0px 0px 7px;
	  font-family: Arial, Helvetica, sans-serif;
	  font-weight:normal;
	  padding:6px 0px 15px 0px ;
	  }
	  
#footer_secand{width:100%;
background-image: url(images/fooot_back.png);
overflow:hidden;
}

#footer_main{width:945px;
margin:0px auto 0px auto;
}	  
 
 #foot_first{width:auto; float:left;}
 
 .f_title{width:auto; 
/* float:left;*/
margin:1px 0px 0px 0px;
 }
 
  #foot_first .f_title p{ width:auto; 
  font-family:Bell MT;
  font-size:20px;
  font-weight:regular;
  color:#eaeaea;
  font-family:Bell MT;
  font-weight:normal;
  margin:28px 0px 0px 0px;
  }
  
  #foot_first .f_title img{ 
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  }
  
  .foot_links{width:auto; }
  
    .foot_links ul {width:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	color:#c0bfbf;
	}
	
	 .foot_links ul li{width:auto;
	 font-family:Arial, Helvetica, sans-serif;
	margin:0px 0px 0px 0px;
	padding:12px 0px 0px 0px;
	list-style:none;
	font-size:12px;
	color:#c0bfbf;
	/*line-height:35px;*/
	}
	
	.foot_links ul li a{ color:#c0bfbf;
	text-decoration:none;
	}
	
  
  #footer_main #foot_secand{width:147px;
   margin:0px 0px 0px 56px;
     float:left;}
	 
	  #footer_main #foot_secand .f_title p{ width:auto; 
  font-family:Bell MT;
  font-size:20px;
  font-weight:regular;
  color:#eaeaea;
  margin:28px 0px 0px 0px;
  }
  
 .lorem_text{width:147px;
 }
 
 
  .lorem_text p{width:auto; 
  color:#b4b4b4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:12px;
  }
  
  #footer_main #foot_three{width:auto; 
  float:left;
  margin:0px 0px 0px 56px;
  }
  
  #footer_main #foot_three .f_title p{ width:auto; 
  font-family:Bell MT;
  font-size:20px;
  font-weight:regular;
  color:#eaeaea;
  margin:28px 0px 0px 0px;
  }
  
 #footer_main  #img_links{width:210px;
  /*<!--float:left;-->*/
  }
  
 #footer_main  #img_links ul{ width:auto;
 float:left;
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px; 
 } 
 
  #footer_main  #img_links ul li{ width:auto; 
  float: left;
   margin:23px 0px 0px -10px;
  padding:0px 10px 0px 11px;
  list-style:none;
  border:hidden;
 } 
 
   #footer_main  #img_links ul li a img{border:none;} 
 
 
 
 #footer_main #img_links #main_fore{ width:auto; 
 float:left;
 }
 
 .box_aug{width:32px;
  float:left;
  }
  
.aug_rect{ 
  width:44px; 
  height:50px;
  background-image:url(images/all_images.png);
  background-position:-372px -36px;
  float:left;
  margin:4px 0px 0px 0px;
  padding-bottom:5px;
  }
  
  
  .aug_right{width:auto;
  float:left;
  margin:0px;
  padding:0px;
  }
  
  
#footer_main .aug_right p{width:124px; 
  color:#b4b4b4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:12px;
  margin:0px 0px 0px 22px;
  padding:11px 0px 0px 0px
  }
  
    #bottam{width:100%;
	background-color:#232323;
	border-top:1px solid #6a5031;}
	
	#bottam #bottam_main{width:945px;
	margin:0px auto 0px auto;}
	
	.copy_text{color:#bdbcbc;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	margin:0px 0px 0px 0px;
	line-height:60px;
	}  
	
#bottam #bottam_main #logo_b{width:841px;
float:right;
}
	
	#bottam #bottam_main #logo_b img{width:auto;
	padding-right:18px;
	margin:12px 0px 0px 0px;
	border:none; 
	float:right;}
	
	
	#foot_dotted{width:100%;
	background-image:url(images/l_back.png);
	padding:5px 0px 5px 0px;
	}
	
	
	
 /*::::::::::traffice viotion css::::::::::::::::::::*/
 

 
    #t_r_rect{width:945px;
 background-image:url(images/banner_back.png); 
 clear:both;
 float:left;
 margin-top:37px;
 box-shadow:inset 0px -5px 5px #d6d6d6;
 }
 
  #t_r_rect #new_link{
	   width:auto;
      color:#da251e;
	 font-size:20px;
	 font-family:Arial, Helvetica, sans-serif;
	 margin:0px 0px 0px 30px;
	 padding:22px 0px 0px 20px;
  }
  
  #t_r_rect #new_nevi{width:auto;
  margin-left:20px;
   }
  
 
 #t_r_rect #new_link {width:auto;

 }
 
#t_r_rect #new_nevi ul{width:auto; 
  float:left;
  margin:0px 0px 0px 30px;
  padding:0px 0px 0px 0px;
  }
	
 #t_r_rect #new_nevi ul li{width:auto; 
  float:left;
  font-size:14px;
  list-style:none;
  color:#605f5ff;
  font-family:Arial, Helvetica, sans-serif;
  margin:0px 0px 0px 0px;
  padding:0px 0px 22px 4px;}
  
  #t_r_rect #new_nevi ul li.aroo{ color:#2695fc;
  font-size:11px;
  margin:1px 0px 0px 0px;
  }
  
 #content #c_left{width:356px;
 float:left;
 background-color:#f4f4f4;
border-radius:6px 6px 0px 0px;
 margin:32px 0px 0px 0px;
 }
 
 .add_buttan{width:110px; 
 height:47px; 
 background-image:url(images/all_images.png);
 background-position:-248px -130px;
 float:left;
 margin:21px 24px 13px 223px;
 text-decoration:none;
 }
 
 
 .add_buttan p{ color:#eeeff0;
 font-size:14px;
 text-align:center;
 font-family: Arial, Helvetica, sans-serif;
 } 

  .add_buttan a p{ text-decoration:none;}

  #content #c_left #opiton{width:316px;
  height:55px;
  background-position:10px 10px;
  background-repeat:no-repeat; 
  float:left;
  position:relative; margin-left:31px;}
	
	 #opiton Select{background-image: url("images/option_img.png");
    background-repeat: no-repeat;
    height: 43px;
    margin-left: -10px !important;
    width: 300px !important;}
	  
	  .cp_battan{width:169px; 
	  height:42px; 
	  background-position:-365px -133px;
	   background-image:url(images/all_images.png);
	   float:left;
	   margin:26px 0px 27px 162px;
	   }
	  
	   .cp_battan p{ color:#131313;
	   font-family:Verdana, Geneva, sans-serif;
	   font-size:13px;
	   text-align:center;
	    }
		
		#left_block{width:auto;
		clear:both;
		/*box-shadow:-0px 3px 5px #c9c9c9;*/
		background-image:url(images/c_leftback.png);
		padding:8px 0px 24px 0px;
		}
		
	
	 #left_block .paper_img{width:53px;
	height:53px; 
	float:left;
    background-image:url(images/all_images.png);
	background-repeat:no-repeat;
	background-position:-526px -42px;
	margin-left:26px;
	}
	
	
	
	#left_block .con_rect{ width:auto;
	font-family: Verdana, Geneva, sans-serif; 
	}
	
		#left_block .con_rect ul{ width:auto;
		margin:0px 0px 0px 43px;
		padding:1px 0px 0px 0px;
		}
		
		#left_block .con_rect ul li{
			width:auto;
		margin:10px 0px 0px 16px;
		padding:0px 0px 0px 0px;
		list-style:none;
		font-family:Verdana, Geneva, sans-serif;
			}
	
	    #left_block .con_rect ul li.error{ font-size:14px;
		color:#171717;
		margin:4px 0px 0px 45px;
		padding:0px 0px 0px 0px;
		font-family:Verdana, Geneva, sans-serif;
		}
		
		  #left_block .con_rect ul li.name{ width:auto;
		  font-size:12px;
		  color:#383838;
		  margin:5px 0px 0px 45px;
		padding:0px 0px 0px 0px;
		font-family:Verdana, Geneva, sans-serif;
		   }
		   
	 #left_block .man_img{width:53px;
	height:53px; 
	float:left;
    background-image:url(images/all_images.png);
	background-repeat:no-repeat;
	background-position:-540px -123px;
	margin-left:26px;
	}
	
	#con_leftbottam{ width:auto;
	background-image:url(images/c_b.png);
	overflow:hidden;
	margin-top:8px;
	margin-bottom:15px;
	}
	
	
	#left_block.back_hiddin{ background-image:none;
	width:auto;
		clear:both;
		/*box-shadow:-0px 3px 5px #c9c9c9;*/
		padding:8px 0px 24px 0px;
		}
	
	
	#con_leftbottam ul{
		width:auto;
		float:right;
		margin:0px;
		padding:0px
		}
		
		#con_leftbottam ul li{
		width:auto;
		color:#6a6a6a;
		font-size:12px;
		font-family:Verdana, Geneva, sans-serif;
		float:left;
		list-style:none;
		margin:9px 10px 0px 0px;
		padding:0px 0px 0px 0px;
		}
		
		#con_leftbottam ul li a{ color:#6a6a6a;
		text-decoration:none;
		}
		
		#con_leftbottam ul li a:hover{ text-decoration:underline;
		color:#4c4c4c;
		} 
		
		
		#con_leftbottam ul li.aroo{ color:#2695fc;
		font-size:11px;
  font-size:11px;
  margin:10px 10px 9px 0px;
  }
	#con_leftbottam ul li.aroo a{color:#2695fc; text-decoration:none;}
	#con_leftbottam ul li.aroo a:hover{ text-decoration:none;} 
	
	 #content #r_right{ width:563px;
	 float:left;
	 margin-left:26px;
	 margin-top:30px;
	  border-radius:6px;
	  background-color:#f4f4f4;
	 }
	 
	 #content #r_right #r_top{ width:auto; 
	 background-image:url(images/r_bimg.png);
	  }
	
	/* #r_right #r_top img{float:left; background-position:left;} */
	 #r_right #r_top ul{ 
	 
	
	 margin:0px;
	 padding:0px
	 }
	 
	 #r_right #r_top ul li{ font-family:Georgia, "Times New Roman", Times, serif;
	 background-image:url(images/aro_img.png);
	 background-repeat:no-repeat;
	 background-position:1px 3px;
	 list-style:none;
	 font-size:20px;
	 color:#2f2f2f;
	 margin:0px 0px 0px 0px;
	 padding:18px 0px 20px 26px; 
	 }
	
	  #r_right #option_nextrect{ width:auto;
	 background-color:#f4f4f4;
	 position:relative;
	 
	  }
	  
	 #option_nextrect .rect_option{ width:auto;
	 padding-left:26px;
	 font-family:Verdana, Geneva, sans-serif;
	 font-size:18px;
	 }

	#option_nextrect .rect_option Select{
	width:300px;
	height:45px;
	color:2f2f2f;
	font-size:14px;
	margin:30px 0px 0px 27px;
	color:#2f2f2f;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
	left:26px;
   } 
   
   /*	#option_nextrect .rect_option .rect_optionnn Select{
	width:264px;
	height:40px;
	color:2f2f2f;
	font-size:14px;

	clear:both;
	margin:30px 0px 0px 0px;
   }*/ 
	
	#option_nextrect .rect_optionnn{width:auto;
	padding-left:26px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:18px;
	}
	
	#option_nextrect .rect_optionnn Select{ 
	width:300px;
	height:45px;
	font-size:14px;
	margin:30px 0px 47px 3px;
	color:#2f2f2f;
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
	left:-1px;
	}
	
	#option_nextrect #text_area{ width:auto;
	}
	
	#option_nextrect #text_area textarea{ width:503px;
	margin:19px;
	border:1px solid #cdcdcd;
	background-image:url(images/area_back.png);
	height:121px;}
	
	
	#option_nextrect #file_rect{ width:auto;
	
	
	padding:14px 0px 16px 26px; 
	} 
	
	
	#option_nextrect #file_rect file{ 
	width:345px; 
	height:40px;
	float:left;
	border:1px solid #cdcdcd !important;
	} 
	
	#option_nextrect #file_rect file{border:2px solid #cdcdcd !important;}
	/*:::::::::::14/08/2012:::::*/
	
	#option_nextrect #file_save{width:auto;
	padding-bottom:16px;
	
	}
	
	#option_nextrect #file_save .man{ width:auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#da251e;
	font-size:20px;
	margin:28px 0px 0px 33px
	}
	
	
 #option_nextrect .man .s_battan{ width:110px; 
 height:47px; 
 background-image:url(images/all_images.png);
 background-position:-248px -130px;
 float:left;
 margin:11px 0px 30px 30px;
 
 }
 
 #option_nextrect .man .s_battan p{color:#eeeff0;
  font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 text-align:center;
 } 
 
 
 #option_nextrect .man #battans{ 
  width:auto;
  overflow:hidden;
}
 
 /*#option_nextrect {width:auto;
	 background-color:#f4f4f4;
	   border-radius:0px 0px 6px 6px;
	   }*/

/*:::::::::::14/08/2012:::::*/
 	
/*::::::::::traffice viotion css::::::::::::::::::::*/	
.rect_option .drop, .rect_optionnn .drop{right:67px; margin-top:33px;}
.drop {background:url("images/option_img.png") no-repeat right top !important;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 55px;
	width:289px !important;
	position:absolute;
	overflow:hidden;
	right:17px;
	color:#2f2f2f;
	font-size:18px;
	line-height:43px;
	padding-left:11px;
}

 #new-content{ width:945px;
 margin:24px auto 0px auto;
 background-color:#f4f4f4 !important;
 border-radius:5px 5px 5px 5px;
 border:1px solid #d7d7d7;
 padding-bottom:40px;
  }
  
 #new-content  #rectengal{ width:auto; margin:0px;
 
  background-image:url(images/big-rect.png);
  overflow:hidden; 
 }
 
  #rectengal-left{ width:595px; float:left;
  /*background-image: url(images/rgl_back.png); */
  } 
  
  #rectengal #rectengal-left .cs_text{ font-size:20px;
   margin:29px 0px  63px 92px;
   padding:0px 0px 0px 0px;
   float:left; 
   color:#1a1a1a;
  font-family:Georgia, "Times New Roman", Times, serif;
   }
  
   #new-content  #rectengal p{ font-size:20px;
   margin:29px 0px  63px 51px;
   padding:0px 0px 0px 0px;
   float:left; 
   color:#1a1a1a;
  font-family:Georgia, "Times New Roman", Times, serif;
   }
   
   
   #new-content #rectengal-right{ width:auto;
    float:left;}
	
	#new-content #rectengal-right .save-battan{ width:223px; 
	height:52px; 
	background-image:url(images/newsave_battan.png);
	background-repeat:no-repeat;
	float:left;
	margin:30px 0px  0px 100px;
	padding:0px 0px  0px 0px;
	} 
	
   
  #new-content #rectengal #rectengal-right .save-battan .sft{
	   font-size:14px;
	   font-family:Verdana, Geneva, sans-serif;
	   color:#292929;
	   margin:px 0px 0px 0px;
	   padding:0px 0px 0px 30px;
	   line-height:49px;
	   }
    
	 
	 #new-content #r_top{
	 background-image: url("images/r_bimg.png");
      width: auto;
	}
	  
	   #new-content #r_top ul{
		   margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

  #new-content #r_top ul li{
	  background-image: url("images/aro_img.png");
    background-position: 1px 3px;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 18%);
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 0;
    padding-top: 18px;
	  }
		   
  #new-content #contact-form{ width:664px; 
  margin:31px auto 0px auto;
  background-color:#ffffff;
  box-shadow:0 0 15px #d0d0d0;
  }
  #center-form{ width:auto; 
  
    background-color:#ffffff;
	margin:0px 0px 0px 42px;
	padding:0px 0px 0px 0px;
  }
  
   #center-form ul{ width:auto;
   margin:0px 0px 0px 0px;
   padding:20px 0px 0px 0px;
   }
   
    #center-form ul li{ width:auto;
	list-style:none;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	color:#222222;
	margin:0px 0px 0px 0px;
	padding:2px 0px 0px 0px;
	}
	
	#center-form ul li input{ border-left:1px solid #bfbfbf;
	height:25px;
	width:485px;
	}
	
	 #center-form ul li textarea{ width:489px;
	 height:160px;
	border-left:1px solid #bfbfbf;
	 margin:0px 0px 0px 0px;
	 padding:0px 0px 0px 0px;
	 font-size:14px;
	  }
	  
	  #center-form #battans{
	  overflow-x: hidden;
    overflow-y: hidden;
    width: auto;}
	
	  #center-form #battans .s_battan{
		  background-image: url("images/all_images.png");
    background-position: -248px -130px;
    float: left;
    height: 47px;
    margin-bottom: 30px;
    margin-left:0px;
    margin-right:39px;
    margin-top: 11px;
    width: 110px}
	
	#center-form #battans .s_battan p{ 
	color: #eeeff0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-align: center;
	}
		  
	#center-form #battans .s_battan a p{ text-decoration:none; }	
	
	   
	  #new-content #rectengal #rectengal-right .save-battan .acs{
	   font-size:14px;
	   font-family:Verdana, Geneva, sans-serif;
	   color:#292929;
	   margin:px 0px 0px 0px;
	   padding:0px 0px 0px 15px;
	   line-height:49px;
	   } 
	   
	   
	   
	   #new-content #no-sub-rect{ width:889px; 
  margin:31px auto 0px auto;
  background-image:url(images/line.png);
  background-color:#ffffff;
  overflow:hidden;
  border:1px solid #cdcdcd;
  }
  
    #new-content #no-sub-rect .nsf_text{ font-size:20px; 
	font-family:Verdana, Geneva, sans-serif;
	color:#da251e;
	margin:0px 0px 0px 34px;
	padding:18px 0px 19px 0px;
	float:left;
	}